In [17]:
# Set Dependencies

import csv
import pandas as pd
import numpy as np
import requests
import json
import urllib
import IPython
import lib

In [18]:


# Name CSV Files
df = pd.read_csv(r'C:\users\tony duron\Project1-TD\Resources\1976-2020-president.csv')
df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

In [19]:

# Output File CSV
output_data_file = "output.proj1.csv"

In [20]:
# Establish Base URL and Build Query

# Moderna API
url2 = "https://data.cdc.gov/resource/b7pe-5nws.json"
Jurisdiction = ["jurisdiction=Connecticut"]

# query_url2 = f"{url2}"

# print(query_url2)
print(url2)

# vacc_response = requests.get(query_url2)
vacc_json = requests.get(url2).json()

vacc_json[0]

https://data.cdc.gov/resource/b7pe-5nws.json

{'jurisdiction': 'Connecticut',
 'hhs_region': 'Region 1',
 'doses_allocated_week_12_21': '63,300',
 'second_dose_shipment_12_21': '63,300',
 'doses_allocated_week_12_28': '21,900',
 'second_dose_shipment_12_28': '21,900',
 'doses_allocated_week_01_04': '21,800',
 'second_dose_shipment_01_04': '21,800',
 'doses_allocated_week_of_01_10': '21,900',
 'second_dose_shipment_week_of_01_10': '21,900',
 'doses_distribution_week_of_01_18': '23,000',
 'second_dose_week_of_01_18': '23,000',
 'doses_allocated_week_of_01_25': '23,000',
 'second_dose_week_of_01_25': '23,000',
 'doses_allocated_week_of_02_01': '30,300',
 'second_dose_shipment_week_of_02_01': '30,300',
 'doses_allocated_week_of_02_08': '33,100',
 'second_dose_shipment_week_of_02_08': '33,100',
 'doses_allocated_week_of_02_15': '35,800',
 'second_dose_shipment_week_of_02_15': '35,800',
 'total_moderna_allocation_first_dose_shipments': '274,100',
 'total_allocation_moderna_second_dose_shipments': '274,100'}

In [21]:
df_vaccine = pd.DataFrame(vacc_json)
df_vaccine.head()

,jurisdiction,hhs_region,doses_allocated_week_12_21,second_dose_shipment_12_21,doses_allocated_week_12_28,second_dose_shipment_12_28,doses_allocated_week_01_04,second_dose_shipment_01_04,doses_allocated_week_of_01_10,second_dose_shipment_week_of_01_10,...,doses_allocated_week_of_01_25,second_dose_week_of_01_25,doses_allocated_week_of_02_01,second_dose_shipment_week_of_02_01,doses_allocated_week_of_02_08,second_dose_shipment_week_of_02_08,doses_allocated_week_of_02_15,second_dose_shipment_week_of_02_15,total_moderna_allocation_first_dose_shipments,total_allocation_moderna_second_dose_shipments
0,Connecticut,Region 1,"63,300","63,300","21,900","21,900","21,800","21,800","21,900","21,900",...,"23,000","23,000","30,300","30,300","33,100","33,100","35,800","35,800","274,100","274,100"
1,Maine,Region 1,"24,200","24,200","8,400","8,400","8,300","8,300","8,400","8,400",...,"8,800","8,800","11,600","11,600","12,700","12,700","13,700","13,700","104,900","104,900"
2,Massachusetts,Region 1,"121,900","121,900","42,100","42,100","42,000","42,000","42,100","42,100",...,"44,300","44,300","58,400","58,400","63,800","63,800","69,000","69,000","527,900","527,900"
3,New Hampshire,Region 1,"24,200","24,200","8,400","8,400","8,400","8,400","8,400","8,400",...,"8,800","8,800","11,600","11,600","12,700","12,700","13,700","13,700","105,000","105,000"
4,Rhode Island,Region 1,"19,000","19,000","6,600","6,600","6,600","6,600","6,600","6,600",...,"6,900","6,900","9,100","9,100","10,000","10,000","10,800","10,800","82,500","82,500"

In [26]:
df_connecticut = df_vaccine[df_vaccine.jurisdiction=="Connecticut"][['jurisdiction','total_allocation_moderna_second_dose_shipments','total_moderna_allocation_first_dose_shipments']]
df_connecticut

,jurisdiction,total_allocation_moderna_second_dose_shipments,total_moderna_allocation_first_dose_shipments
0,Connecticut,"274,100","274,100"

In [ ]:
Iframe = '<Iframe src=' + url2 + 'width=700 height=350></Iframe>'
IPython.display.IFrame

In [11]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [4]:
# Build Query

url = "https://opendata.socrata.com/resource/asset_id.json"

api_key = "ZG1vYjBocHRqenc0NTA4M3d1bDhlaWUzMzoyeHRxcmpkd2Q3YXdtcXpvdHZrejNtYmt0bWZkY3dwNnR1d3c0djF6eHBrZ"

query_url = f"{url}appid={api_key}&q={year}"

print(query_url)

https://opendata.socrata.com/resource/asset_id.jsonappid=ZG1vYjBocHRqenc0NTA4M3d1bDhlaWUzMzoyeHRxcmpkd2Q3YXdtcXpvdHZrejNtYmt0bWZkY3dwNnR1d3c0djF6eHBrZ&q=2020

In [4]:

url = "https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series"
query_url = f"{url}&

SyntaxError: EOL while scanning string literal (<ipython-input-4-ec996c32ce9b>, line 2)

In [3]:
# Establish Base URL and Build Query

url = "https://dataverse.harvard.edu/api/access/datafile/4299753"

year = "2020"

query_url = f"{url}&q{year}"

print(query_url)

https://dataverse.harvard.edu/api/access/datafile/4299753&q2020

In [ ]:
GEThttps://private-anon-50b08f9405-socrataapikeys.apiary-proxy.com/resource/asset_id.json

In [ ]:
df1 = pd.read_csv(r'C:\users\tony duron\Project1-TD\Resources\All_States_Cases.csv')
df1 = pd.DataFrame()
df1.head()

df2 = pd.read_csv(r'C:\users\tony duron\Project1-TD\Resources\1976-2020-president.csv')
df2 = pd.DataFrame()
df2.head()

In [3]:
# Save Config Information

urllib2 = "https://opendata.socrata.com/resource/asset_id.json"

# Build Partial Query URL

query_url = f"{urllib2}"